<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")

  body
    main.main#project
      ul.main-project__grid
        li.main-project__item(id="p-0")
          a(href="http://codepen.io/Errec/full/JKppYz" target="_blank")
            img.main-project__img(src="/img/portfolio.png")
            span.main-work__img-overlay
        li.main-project__item(id="p-1")
          a(href="http://codepen.io/Errec/full/QKWmXG/" target="_blank")
            img.main-project__img(src="/img/quote.png")
            span.main-work__img-overlay
        li.main-project__item(id="p-2")
          a(href="http://codepen.io/Errec/full/ZprVwZ/" target="_blank")
            img.main-project__img(src="/img/weather.png")
            span.main-work__img-overlay
        li.main-project__item(id="p-3")
          a(href="http://codepen.io/Errec/full/PbWvrw" target="_blank")
            img.main-project__img(src="/img/wikipedia.png")
            span.main-work__img-overlay
        li.main-project__item(id="p-4")
          a(href="http://codepen.io/Errec/full/MbLxOz" target="_blank")
            img.main-project__img(src="/img/twitch.png")
            span.main-work__img-overlay
        li.main-project__item(id="p-5")
          a(href="http://codepen.io/Errec/full/QvWrqR" target="_blank")
            img.main-project__img(src="/img/calculator.png")
            span.main-work__img-overlay
        li.main-project__item(id="p-6")
          a(href="http://codepen.io/Errec/full/BRwgwb" target="_blank")
            img.main-project__img(src="/img/pomodoro.png")
            span.main-work__img-overlay
        li.main-project__item(id="p-7")
          a(href="http://codepen.io/Errec/full/VpXJaG" target="_blank")
            img.main-project__img(src="/img/simon-ttt.png")
            span.main-work__img-overlay

  script(src="js/bundle.min.js")
