<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")

  body
    main.main#project
      ul.main-project__grid
        li.main-project__item(id="p-0")
          a(href="#")
            img.main-project__img(src="/img/calculator.png")
        li.main-project__item(id="p-1")
          a(href="#")
            img.main-project__img(src="/img/pomodoro.png")
        li.main-project__item(id="p-2")
          a(href="#")
            img.main-project__img(src="/img/portfolio.png")
        li.main-project__item(id="p-3")
          a(href="#")
            img.main-project__img(src="/img/simon-ttt.png")
        li.main-project__item(id="p-4")
          a(href="#")
            img.main-project__img(src="/img/twitch.png")
        li.main-project__item(id="p-5")
          a(href="#")
            img.main-project__img(src="/img/weather.png")
        li.main-project__item(id="p-6")
          a(href="#")
            img.main-project__img(src="/img/wikipedia.png")

  script(src="js/bundle.min.js")
