@import 'modules/normalize.scss'
@import 'modules/reset.scss'

body, html
  height: 100%

.main
  height: 100%
  display: block
  &:after
    background-image: url(../img/bg.jpg)
    content: "";
    background-repeat: no-repeat
    background-position: center 30%
    background-size: cover
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-filter: grayscale(0); /* Old WebKit */
    filter: grayscale(0);
    animation-name: change-bg
    animation-fill-mode: forwards
    animation-duration: 4s
    animation-delay: 1s

@keyframes change-bg
  0%
    opacity: 1
    filter: grayscale(0)
  100%
    opacity: 0.7
    filter: grayscale(1)

.main-project__grid
  padding-top: 35vh
  display: flex
  flex-wrap: wrap
  list-style: none
  padding-left: 0

.main-project__item
  transition: flex 0.5s ease-in-out 0.3s
  flex: 1
  filter: grayscale(1)
  animation-name: change-filter
  animation-fill-mode: forwards
  animation-duration: 4s
  animation-delay: 1s
  &:hover
    flex: 10

@keyframes change-filter
  0%
    filter: grayscale(1)
  100%
    filter: grayscale(0)

.main-project__img
  cursor: pointer
  height: 100%
  width: 100%
  object-fit: cover
  outline: solid #724724 2px

.main-project__item
  height: 60vh



@media screen and (max-width: 720px)
  .main-project__grid
    padding: 15vh 20px 0 20px
    display: block

  .main-project__item
    height: 10vh

  .main
    background-position: center
    background-size: 50%
    &:after
      background-color: #EDC00A
      background-repeat: repeat-y
      background-size: 50%
      background-image: url(../img/bg.jpg)
      content: "";
      background-repeat: repeat-y
      background-position: center 30%
      opacity: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      -webkit-filter: grayscale(0); /* Old WebKit */
      filter: grayscale(0);
      animation-name: none
